.bgHome {
  background-color: #5b93c8;
}
/* Cards Categoria - Botoes dos cards */
.btAlfabetizacao {
  background-color: #184ec2;
  color: #ffffff;
  margin-top: 24px;
  border-radius: 100px;
  width: 100%;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.btAlfabetizacao:hover {
  background-color: #184ec2;
  opacity: 80%;
}

.btCoordenacao {
  background-color: #fc782c;
  color: #ffffff;
  border-radius: 100px;
  width: 100%;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.btCoordenacao:hover {
  background-color: #fc782c;
  opacity: 80%;
}

.btPortugues {
  background-color: #7c13df;
  color: white;
  margin-top: 19px;
  border-radius: 100px;
  width: 100%;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.btPortugues:hover {
  background-color: #7c13df;
  opacity: 80%;
}

.btMatematica {
  background-color: #FFD233;
  margin-top: 19px;
  border-radius: 100px;
  width: 100%;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.btMatematica:hover {
  background-color: #FFD233;
  opacity: 80%;
}

.btCiencias {
  background-color: #157e4f;
  color: white;
  margin-top: 19px;
  border-radius: 100px;
  width: 100%;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.btCiencias:hover {
  background-color: #157e4f;
  opacity: 80%;
}

/*mural na home*/
.mural {
  background-color: #D6E2F0;
  padding-bottom: 30px;
}

.tamanhoImg {
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 100%;
}

.tamanhoCard {
  border-radius: 10px;
  border: 1px solid #ffffff;
  margin: 5px;
  width: 100%;
  max-width: 300px;
  background-color: #ffffff;
}

.btMural {
  background-color: #5b93c8;
  margin-top: 19px;
  border-radius: 100px;
  width: 12%;
  padding: 10px;
  border: none;
  cursor: pointer;
  color: #ffffff;
}

.btMural:hover {
  background-color: #709BC3;
  opacity: 80%;
  color: #ffffff;
}

/*sobre nós na home*/
.fraseSobre{
  text-align: justify;

}