/* bainner home */
.frase1 {
  margin-top: 20px;
margin-block: 50px;
  text-align: center;
  color: #ffffff;
  margin-left: 10px;
  font-family:  'Lucida Sans Unicode',  Verdana, sans-serif;
}
.frase2 {
 font-size: 170%;
  text-align: center;
  font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight:bolder;
}


.imgFamilia {
width: 400px;
margin-left: 170px;
margin-top: 33px;

}

.bgBainner {
  background-color: #709BC3;
  padding-top: 30px;
  height: 460px;
}

/*  */
.mural {
  background-color: #D6E2F0;
}


.bgCard {
  background-color: #416e97;

}

/* ButtonGroup.css */
.btAlfabetizacao {
  background-color: #184ec2;
  color: #ffffff;
  margin-top: 24px;
  border-radius: 100px;
  width: 100%;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.btAlfabetizacao:hover {
  background-color: #184ec2;
  opacity: 80%;
}

.btCoordenacao {
  background-color: #fc782c;
  color: #ffffff;
  border-radius: 100px;
  width: 100%;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.btCoordenacao:hover {
  background-color: #fc782c;
  opacity: 80%;
}


.btPortugues {
  background-color: #7c13df;
  color: white;
  margin-top: 19px;
  border-radius: 100px;  
  width: 100%;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.btPortugues:hover {
  background-color: #7c13df;
  opacity: 80%;
}

.btMatematica {
  background-color: #FFD233;
  margin-top: 19px;
  border-radius: 100px;
  width: 100%;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.btMatematica:hover {
  background-color: #FFD233;
  opacity: 80%;
}

.btCiencias {
  background-color: #157e4f;
  color: white;
  margin-top: 19px;
  border-radius: 100px;
  width: 100%;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.btCiencias:hover {
  background-color: #157e4f;
  opacity: 80%;
}



.bgContainer {
  background-color: #709BC3;
  padding-top: 10px;
  padding-bottom: 50px;
}

.textContainer {
  border-radius: 5px;
  color: #ffff;
  text-align: center;

  font-family: 'Open Sans', 'Helvetica Neue', sans-serif sans-serif;
}

@media (max-width: 768px) {
  .imageContainer {
    display: none;
    /* Oculta a imagem em dispositivos móveis */
  }
}


