.btRegister {
  background-color: #5b93c8;
  margin-top: 15px;
  margin-bottom: 30px;
  border-radius: 100px;
  padding: 10px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  width: 30%;
}

.btRegister:hover{
 background-color: #709BC3;
 opacity: 80%;
 color: #ffffff;
}
  
  /* Error message styles */
  .error {
    color: red;
    margin-top: 10px;
    font-size: 14px;
  }
  