.faixa-coordenacao {
    background-color: #fc782c;
    color: #fbddce;
    padding: 50px;
}

.faixa-alfabetizacao {
    background-color: #184ec2;
    color: #a4c2f5;
    padding: 50px;
}

.faixa-portugues {
    background-color: #7c13df;
    color: #eee1fa;
    padding: 50px;
}

.faixa-matematica {
    background-color: #FFD233;
    color: #795f01;
    padding: 50px;
}

.faixa-ciencias {
    background-color: #157e4f;
    color: #a4f5d0;
    padding: 50px;
}

.faixa-sobre {
    background-color: #709BC3;
    color: #f1f3f5;
    padding: 50px;
}

.faixa-mural {
    background-color: #709BC3;
    color: #f1f3f5;
    padding: 50px;
    background-size: cover;
}

.faixa-contato {
    background-color: #709BC3;
    color: #f1f3f5;
    padding: 50px;
}

.faixa-login {
    background-color: #709BC3;
    color: #f1f3f5;
    padding: 50px;
}

.faixa-dashboard {
    background-color: #90598e;
    color: #e7cce1;
    padding: 50px;
}

.faixa-ajuda {
    background-color: #75acff;
    color: #cfe2ff;
    padding: 50px;
}

.faixa-register {
    background-color: #75acff;
    color: #cfe2ff;
    padding: 50px;
}