.faixa-home {
    background-color: #709BC3;

}

.faixa-coordenacao {
    background-color: #f8ddcd;
    color: #CE560B;
    padding: 100px;
}

.faixa-alfabetizacao {
    background-color: #98C5FA;
    color: #0940A9;
    padding: 100px;
}

.faixa-portugues {
    background-color: #b27de4;
    color: #550a9b;
    padding: 100px;
}

.faixa-matematica {
    background-color: #f17d83;
    color: #C70611;
    padding: 100px;
}

.faixa-ciencias {
    background-color: #73c29d;
    color: #165135;
    padding: 100px;
}

.faixa-sobre {
    background-color: #98C5FA;
    color: #0940A9;
    padding: 100px;
}

.faixa-mural {
    background-color: #98C5FA;
    color: #0940A9;
    padding: 100px;
}

.faixa-contato {
    background-color: #98C5FA;
    color: #0940A9;
    padding: 100px;
}