
#menu {
  text-align:center;
  left:91%;
  top:30%;
  position: absolute;
  transform:translate(-50%,-50%);
  width:100%;
  max-width:350px;
  z-index: 2;
}
#menuOpcoes {
  list-style: none;
  padding: 0;
  background:#93c7d6;
  max-height: 0;
  transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
  visibility: hidden;
  border-radius:3px;
  opacity:0;
  transform:rotate(180deg);
}

#menuOpcao #menuLink {
  padding:12px 0;
  display: block;
  transition:.25s
}
#menuOpcao #menuLink:hover {
  background: #6fabbc;
}

#menuOpcoes #menuLink {
  color:#fff;
  text-transform:uppercase;
  text-decoration: none;
}
#menuClick {
  padding:22px;
  background: rgba(255,255,255,.75);
  border-radius:3px;
  color:#6fabbc;
  transition:.25s;
  -webkit-animation: 1.25s bounce infinite;
          animation: 1.25s bounce infinite;
}
#menuClick:hover {
  cursor:pointer;
  background: rgba(255,255,255,.95);
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
#menuOpcoes.open {
  max-height: 480px;
  visibility: visible;
  opacity:1;
  transform:rotate(0);

  transform:translate(-65%,-28%);
}

@keyframes bounce {
  0% {margin-top:0;}
  50% {margin-top:-15px; margin-bottom:15px;}
  100% {margin-top:0;}
}







.basic-menu-item {
  background: #EEEEEE;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  position: absolute;
  color: #FFFFFF;
  text-align: center;
  line-height: 50px;
}

.basic-menu {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 80px; 
  height: 80px;
  text-align: center;
  box-sizing: border-box;
  font-size: 26px;
}

.basic-menu-item:hover {
  background: #EEEEEE;
}


.blue {
  background-color: #669AE1;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
  -webkit-transform: translate3d(70px, -300px, 0);
}

.blue:hover {
  color: #669AE1;
  text-shadow: none;
}

.green {
  background-color: #70CC72;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
  -webkit-transform: translate3d(-30px, -300px, 0);
}

.green:hover {
  color: #70CC72;
  text-shadow: none;
}

.purple {
  background-color: #C49CDE;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
  -webkit-transform: translate3d(-130px, -300px, 0);
}

.purple:hover {
  color: #C49CDE;
  text-shadow: none;
}


